*{
    box-sizing: border-box;
}
body{
    font-family: Arial, tahoma, sans-serif;
}
/* start background */
.control-button{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(111, 111, 224, 0.363);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.control-button span{
    background-color: rgb(216, 83, 83);
    color: white;
    width: 200px;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}


/* start game style */
.info-container{
    width: 1080px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 30px auto 0;
    background-color: #f5f5f5;
    border: 3px solid #0075cc;
    font-size: 25px;
}
.timer{
    width: 200px;
    height: 50px;
    background-color: #f5f5f5;
    margin: 0 auto 30px;
    text-align: center;
    padding: 15px;
    border-bottom: 3px solid #0075cc;
    position: relative;
}
.timer::after,
.timer::before{
    content: "";
    position: absolute;
    top: 0;
    background-color: #f5f5f5;
    width: 100px;
    height: 50px;
    z-index: -1;
}
.timer::after{
    left: -30px;
    border-left: 5px solid #0075cc;
    transform: skewX(49deg);
}
.timer::before{
    right: -30px;
    border-right: 5px solid #0075cc;
    transform: skewX(-49deg);
}
.timer span{
    color: red;
}

.game-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1100px;
    margin:20px auto;

}
.game-container.stop-clicking{
    pointer-events: none;
}
.game-container .game-block{
    height: 200px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    flex: 1 0 200px;
    margin: 0 10px 20px;
}
.game-container .game-block .front{
    background-color: #333;
    line-height: 200px;
}
.game-container .game-block .front::before{
    content: "?";
    color: #fff;
    font-size: 100px;
}
.game-container .game-block .back{
    background-color: #d3d3d3;
    transform: rotateY(180deg);
}
.game-container img{
    width: 150px;
    height: 150px;
    margin-top: 25px;
}
.game-container .game-block .face{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    border: 4px solid #0075cc;
}
.game-container .game-block.is-flipped,
.game-container .game-block.has-matched{
    transform: rotateY(180deg);
}
.game-over,
.game-win{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(111, 111, 224, 0.363); 
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: red;
    font-size: 40px;
    font-weight: bold;
}
.game-over .text{
    display: block;
    width: 100%;
    text-align: center;
}
.game-win .text{
    display: block;
    width: 100%;
    text-align: center;
    color: green;
}
.game-over .btn,
.game-win .btn{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #f5f5f5;
    color: red;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}
.show {
    width: 600px;
    background-color: #f5f5f5;
    border: 3px solid #0075cc;
    padding: 20px;
    margin: 20px auto; 
    text-align: center;
}
.show h3 {
    font-size: 30px;
    color: #0075cc;
}
.show p{
    line-height: 1.6;
    font-size: 16px;
    
}
